#app-container {
	display: grid;
	grid-template-areas:
		"player0 player1 info"
		"center center info"
		"player2 player3 info";
	grid-template-columns: 1.5fr 1.5fr 1fr;
	gap: calc(var(--tile-size)*2);
	margin: var(--tile-size);
}